html {
    height: 100%;
    /* https://stackoverflow.com/questions/46167604/ios-html-disable-double-tap-to-zoom */
    touch-action: manipulation;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 0;
    font-family: 'Helvetica Neue';

}

#intensity-buttons-container {
    display: flex;
    flex-direction: column;
    flex-shrink: 0.0;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: opacity 0.5s ease;
    /* В Safari на iOS долгое нажатие на кнопку срабатывает как выделение текста */
    /* https://stackoverflow.com/questions/12304012/preventing-default-context-menu-on-longpress-longclick-in-mobile-safari-ipad */
    -webkit-user-select: none !important;
    -webkit-touch-callout: none !important;
    user-select: none !important;
}

.intensity-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.intensity-button:active {
    transform: scale(0.9);
    opacity: 0.8;
}

.intensity-button svg {
    width: 20rem;
    height: 20rem;
    stroke: #FFF;
}

#intensity-buttons-container.disabled .intensity-button {
    pointer-events: none;
    animation: Pulsate;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

#intensity-buttons-container.disabled #increase-intensity-button {
    animation-duration: 1.9s;
}

@keyframes Pulsate {
    from {
        opacity: 0.15;
    }

    50% {
        opacity: 0.5;
    }

    to {
        opacity: 0.15;
    }
}

#project-description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0rem 1rem 0rem;
    background: #222;
}

#project-description-container h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 2rem;
    font-weight: bold;
    unicode-bidi: isolate;
}

#project-description-container article {
    max-width: 600px;
    justify-content: center;
    padding: 0rem 1rem 0rem 1rem;
    margin-bottom: 1rem;
    text-wrap: break-word;
}

#hse-link svg {
    width: 16rem;
}

@media (prefers-color-scheme: light) {
    body {
        color: #222;
    }

    html, #intensity-buttons-container {
        background: #FFF;
    }
    
    #project-description-container {
        background: #F0F0F0;
    }

    .intensity-button svg, #hse-link svg {
        stroke: #222;
        fill: #222;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        /* background: #222; */
        color: #FFF;
    }

    html, #intensity-buttons-container {
        background: #222;
    }
    
    #project-description-container {
        background: #000;
    }

    .intensity-button svg, #hse-link svg {
        stroke: #FFF;
        fill: #FFF;
    }
}